<form method="post" action="./OnlineStuPhotoSignUpload.aspx" id="form1" enctype="multipart/form-data">
    <div class="aspNetHidden">
    <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="">
    <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="">
    <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="bfKZ2CFFLG0d3XJRtp11z2hbzg6t7hXxKl1m2onguPzMFaBMZ6V5ZQ9wFp7QLbmqLSB0qSaQ8irs1+hCg1DOHabl/jOfz7XwzD1uKLiQdj83VyvxPAgVhvb0KFtXNk9mIvm+0uyYNN/e57egw3mYAw9H+LZTYCv9PtkF84L27FD6gCljd+y3cRDgTaXWtlZwqVoqRAqf9RTksvqywEX80bE8Yy+KDjRGAOtInlPn17HEFODPacoYShHQdMB45CMj6xez0mcsyb0SiAPC5GGenVv0AvH6Pup1dECvf6IFQgK+v0jzsJI6pA5V42CObDofR0l3nf666lrpHucaFCUeJ/QkXh3aibjX+QlOOpJkHynpQoHVI7wEm3KjcNJCYv4ZJd6ZysKT2+t5RQzYHvrAO2sQbnwGBjw0ljBw1fLENCGPlgbC3Zp0eMbNrG3J4mWr">
    </div>
    
    <script type="text/javascript">
    //<![CDATA[
    var theForm = document.forms['form1'];
    if (!theForm) {
        theForm = document.form1;
    }
    function __doPostBack(eventTarget, eventArgument) {
        if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
            theForm.__EVENTTARGET.value = eventTarget;
            theForm.__EVENTARGUMENT.value = eventArgument;
            theForm.submit();
        }
    }
    //]]>
    </script>
    
    
    <script src="/WebResource.axd?d=pynGkmcFUV13He1Qd6_TZJal-Wc83SBg1C5WDQCbuSsITdKS14kvuJASxWNDKpMemG3xf9WQ2F85pifI2ShMcA2&amp;t=638611071180000000" type="text/javascript"></script>
    
    
    <script src="/ScriptResource.axd?d=NJmAwtEo3Ipnlaxl6CMhvhH1A7jtIgHDo0DeqFQje1hZlPNTbbA2BKcVU4fk6cjXoqvDgYVgYFGoje2YcI22QF4IdMO1qecnzjVE-MHvd990WCTpZQQ6fk_vSgjdbufbOE_hDSb9_z-gLCk_6aFg6GPQetolXFx9SWRt4JhtEXA1&amp;t=ffffffffb201fd3f" type="text/javascript"></script>
    <script src="/ScriptResource.axd?d=dwY9oWetJoJoVpgL6Zq8OIT_78a6pgPP40cTaCutYNtEmzlGMafadW45FqUl1D674IRr6eNX5xlHsVhVxEZeSY8V30Yg0xXLh92VcKbN4XQWKl7d-Vq08657W3VdNytZLU6cZcFXXNGy2aOwbL56QVNQtdqJ7b0OXDk-Gu-E0zA1&amp;t=ffffffffb201fd3f" type="text/javascript"></script>
    <div class="aspNetHidden">
    
        <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="60A83BED">
        <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="2xs0aKfZ64NH1/lxl4oxXm0X3DZQn7XMbi/nJ40HT9f3MQA2pVCUqHXMHyLpjtJ4KHdKANipHkD9ZWlkNOpYS/1HURsnboiLMPtSiv74/LGLlOIj7eboJu4ov0rps1ZyUfEYGCUK5RyVw2EpM76vtVzzhg2m/XDpOpR2PjaIW7E=">
    </div>
                    
        <div class="form-group col-lg-12 col-sm-12 col-md-12  ">
            
            <div class="row">
                <div class="col-lg-12 container-padding ">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h5 class="panel-title">
                                <span id="body_Label1">Photo and Signature Upload</span>
    
                            </h5>
                        </div>
                        <div class="panel-body">
                            <script type="text/javascript">
    //<![CDATA[
    Sys.WebForms.PageRequestManager._initialize('ctl00$body$ScriptManager1', 'form1', ['tctl00$body$UpdatePanel','body_UpdatePanel'], [], [], 90, 'ctl00');
    //]]>
    </script>
    
                            <div id="body_UpdatePanel">
        
                                    <div id="body_panelError" style="background-color:White;border-style:None;height:50%;width:100%;">
            
                                        <span id="body_lblMsg"></span>
                                        
                                    
        </div>
                                    <div id="body_panelADDEDIT" style="background-color:White;border-style:None;height:50%;width:100%;">
            
    
                                        <div class=" col-lg-12">
                                            <table class="  table-responsive">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 10%" colspan="2" class="text-center"><strong>UPLOAD PHOTO</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <img id="body_imgPhoto" class="img-responsive pull-left img-rounded" src="../Attachment/DefaultPhoto/photo.jpg" style="height: 130px; width: 120px">
                                                        </td>
                                                        <td>
                                                            <input type="file" name="ctl00$body$uploadPhoto" id="body_uploadPhoto" class="form-control" style="width:100%;"></td>
                                                    </tr>
    
                                                    <tr>
                                                        <td style="width: 10%" colspan="2" class="text-center"><strong>UPLOAD SIGNATURE</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <img id="body_imgSignature" class="img-responsive pull-left img-rounded" src="../Attachment/DefaultPhoto/signature.jpg" style="height: 60px; width: 140px">
                                                        </td>
                                                        <td>
                                                            <input type="file" name="ctl00$body$uploadSignature" id="body_uploadSignature" class="form-control" style="width:100%;"></td>
                                                    </tr>
    
                                                </tbody>
                                            </table>
                                            <br>
                                            <br>
                                            <hr>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                    * Upload 10KB to 150KB Size Photo and Signature  
                                                </div>
                                            </div>
                                        </div>
    
    
                                    
        </div>
                                
    </div>
                            <br>
                            <br>
                            <div class="panel-footer">
                                <div class="text-center">
                                    <input type="submit" name="ctl00$body$btnUpdate" value="Upload" id="body_btnUpdate" class="btn btn-info">
                                </div>
                                <div style="float: left">
                                    <input type="submit" name="ctl00$body$btnPrevious" value="Previous" id="body_btnPrevious" class="btn btn-success">
                                </div>
                                <div style="float: right">
                                    <input type="submit" name="ctl00$body$btnNext" value="Next" id="body_btnNext" class="btn btn-success">
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</form>