<div class="row">


  <div class="col-xl-12 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
      <h4 data-aos="fade-up">Admission Steps</h4>

      <div class="icon-box" data-aos="fade-up">
          <div class="icon"><i class="bx bx-fingerprint"></i></div>
          <h4 class="title"><a href="OnlinePersonalDetails.aspx">I.Applicant Details </a></h4>
          <p class="description">Aspirant have to enter their personal details.</p>
      </div>

      <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="bx bx-gift"></i></div>
          <h4 class="title"><a href="OnlineProgramDtl.aspx">II.Programmes Details</a></h4>
          <p class="description">select Programmes and enter Academic Qualifiactions and select Subject Details.</p>
      </div>

      <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title"><a href="OnlineStuPhotoSignUpload.aspx">III.Photo Signature Upload</a></h4>
          <p class="description">Upload 10KB to 150KB Size Photo and Signature with WHITE Background(*.jpg,*.jpeg).</p>
      </div>

      <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title"><a href="OnlineStuDocumentUpload.aspx">IV.Documents Upload</a></h4>
          <p class="description">Upload 10th,12th Marksheet sheet (Colored Copy in a pdf format).</p>
          <p class="description">For PG Prhrammes upload Class Declared Graduation Marksheet and Degree Completion Certificate (Colored Copy in a pdf format).</p>
          <p class="description">Upload Aadhar Card for Indian nationals and Passport for foreign nationals (Colored Copy in a pdf format).</p>

      </div>
      <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title"><a href="OnlineStuViewApplication.aspx">V.Processing fee payment</a></h4>
          <p class="description">After completing your application form you need to pay the processing fee.</p>
      </div>
      <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title">Document Verification By University </h4>
          <p class="description">After Processing fee Payment application is forwarded to the KSOU verification department.</p>
      </div>
      <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title"><a href="OnlineAdmissionfeepay.aspx">VI.Admission fee payment</a></h4>
          <p class="description">After verification, you will get an email confirmation for paying Admission fee.</p>
      </div>

      <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title"><a href="">VII.LMS Activation</a></h4>
          <p class="description">After Admission fee payment, roll no will be generated and LMS will be activated</p>
      </div>


  </div>
</div>